<div class="container" style="border: 1px solid black">
  <div class="panel panel-default">
    <!-- Default panel contents -->

    <% if @user.new_record? %>
        <div class="panel-heading">Création d'un utilisateur</div>
    <% else %>
        <div class="panel-heading">Mise à jour d'un utilisateur</div>
    <% end %>
  </div>


  <%= form_for(@user) do |f| %>
      <%= render "shared/errors", object: @user %>


      <div class="col-md-4" align="left" style="border: 1px solid black"> colonne de gauche</div>


      <div class="col-md-4" style="border: 1px solid black">

        <div class="row">
          <div class="col-md-6" align="right"><%= f.label :name %></div>
          <div class="col-md-6 " align="left"><%= f.text_field :name, autofocus: true %></div>
        </div>

        <div class="row">
          <div class="col-md-6" align="right"><%= f.label :email %></div>
          <div class="col-md-6" align="left"><%= f.text_field :email %></div>
        </div>

        <div class="row">
          <div class="col-md-6" align="right"><%= f.label :password %></div>
          <div class="col-md-6" align="left"><%= f.text_field :password %></div>
        </div>

        <div class="row">
          <div class="col-md-6" align="right"><%= f.label :password_confirmation %></div>
          <div class="col-md-6" align="left"><%= f.text_field :password_confirmation %></div>
        </div>
        <div class="row">
          <div class="col-md-12"><hr></div>
        </div>


        <div class="row">
          <div class="col-md-6" align="right"><%= f.label :password_confirmation %></div>
          <div class="col-md-6" align="left"><%= f.text_field :password_confirmation %></div>
        </div>
        <div class="row">
          <div class="col-md-12"><hr></div>
        </div>





        <div class="row" style="border: 1px solid black">
          <div class="col-md-6" align="right">
            <% if @user.new_record? %>
                <%= f.submit "Create Account" %>
            <% else %>
                <%= f.submit "Valider la mise à jour" %>
            <% end %>
            </div>
            <div class="col-md-6" align="left"><%= link_to "Cancel", users_path %></div>
        </div>
        </div>
          <% end %>


  <div class="col-md-4" align="right"

       style="border: 1px solid black"> colonne de droite</div>
</div>
