<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to 'QuimmoPro', welcome_path %></li>
    <li><%= link_to 'Agences', agences_path %></li>
      </ul>
</div>

<div class="container">
  <header id="content-header">

  </header>
</div>
<div class="container">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><%= pluralize(@users.size, 'User') %></h3></div>

  <table class="table table-condensed   ">
    <thead>
    <tr>

      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <% @users.each do |user| %>
          <td>
            <%=  link_to user.id,user %>
          </td>

          <td>
               <%=  user.name %>
            </td>
             <td>
               <%= link_to user.email, user %>
            </td>

          </tr>
          </tbody>
      <% end %>
      </table>
</div>
</div>
