<%= render 'users/nav'%>
<%= render 'users/panel'%>
<div class="container">
    <table class="table table-condensed table-hover">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <% @users.each do |user| %>
            <td>
              <%= link_to user.id, user %>
            </td>

            <td>
              <%= user.name %>
            </td>

            <td>
              <%= link_to user.email, user %>
            </td>

            </tr>
            </tbody>
        <% end %>
        </table>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails, class: 'pagination-sm' %>
</div>
