<%#= render 'users/nav'%>
<%#= #render 'users/panel'%>

<% if :admin%>
    <h1>Liste des users
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %></h1>
<% else%>
<h1>Liste des users pour <%= link_to @agence.raison_sociale, @agence %></h1>
<%	 end %>



<div class="container">
  <table class="table table-condensed table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @users.each do |user| %>
      <% @agences.each do |agence| %>
          <td>
            <%= link_to user.id, [user.agence,user]  %>
          </td>

          <td>
            <%= link_to user.name, [user.agence,user] %>
          </td>

          <td>
            <%= link_to user.email, [user.agence,user]%>
          </td>
          <td>
            <%= link_to user.agence_id, [user.agence,user]%>
          </td>
          <td>
            <%= link_to agence.raison_sociale, [agence]%>
          </td>


          </tr>
          </tbody>
      <% end %>
          <%	 end %>
      </table>
</div>
