<%= render 'users/nav'%>
<div class="container">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= pluralize(User.all.size, 'Utilisateurs') %></div>

    <table class="table table-condensed">
      <thead>
      <tr>

        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <% @users.each do |user| %>

            <td>
              <%= link_to user.id, user %>
            </td>

            <td>
              <%= user.name %>
            </td>
            <td>
              <%= link_to user.email, user %>
            </td>

            </tr>


            </tbody>

        <% end %>
        </table>
  </div>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

