<!DOCTYPE html>
<html>
<head>
  <title>Quimmo</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to 'home', home_path %></li>
    <li><%= link_to 'QuimmoPro SignIn', signin_path %></li>
    <% if session[:user_id] = nil %>
        <li><%= link_to 'QuimmoPro SignIn', signin_path %></li>
    <%	 if current_user %>
        <li><%= link_to 'QuimmoPro', welcome_path %></li>
        <li><%= link_to 'Sign Out', session_path, method: :delete %></li>
        <li>id_user : <%= @user.id %></li>
        <li> agence : <%= link_to @agence.raison_sociale, welcome_path %></li>
    <% end %>
    <% end %>
      </ul>
</div>

<div class="container">
  <h2>Home</h2>
</div>

</body>
</html>
