<div class="container">
  <ul class="nav nav-tabs">
    <li><%= link_to 'QuimmoPro', welcome_path %></li>
    <li><%= link_to 'Users', users_path %></li>
    </ul>
</div>

<div class="container">
  <header id="content-header">

  </header>
</div>
<div class="container">

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h3><%= pluralize(@agences.size, 'Agence') %></h3></div>


    <table class="table table-condensed   ">
      <thead>
      <tr>
        <th>Id</th>
        <th>Raison sociale</th>
        <th>Siret</th>
        <th>Adresse01l01</th>
        <th>adresse01l02</th>
        <th>adresse01l03</th>
        <th>Code postal</th>
        <th>Ville</th>
        <th>Région</th>
        <th>Pays</th>
        <th><span class="glyphicon glyphicon-envelope"></span></th>
        <th>Tél</th>
        <th>Fax</th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <% @agences.each do |agence| %>
            <td><%= link_to agence.id, agence_path(agence) %></td>
            <td><%= agence.raison_sociale %></td>
            <td><%= agence.siret %></td>
            <td><%= agence.adresse01l01 %></td>
            <td><%= agence.adresse01l02 %></td>
            <td><%= agence.adresse01l03 %></td>
            <td><%= agence.code_postal %></td>
            <td><%= agence.ville %></td>
            <td><%= agence.region %></td>
            <td><%= agence.pays %></td>
            <td><%= link_to 'M', agence.email %></td>
            <td><%= agence.telephone %></td>
            <td><%= agence.fax %></td>

            </tr>
            </tbody>
        <% end %>
        </table>
  </div>
</div>
